@import 'variables';

aside {
  background-color: var(--darken);
  transform-origin: left;
  position: sticky;
  top: 0;
  height: 100%;
  grid-row: 1;
  grid-column: 1 / 2;
  box-sizing: border-box;
  /* transform: scaleX(0); */
  transition: 0.2s all ease-in-out;
  /* opacity: 0; */
}

.open {
  transform: scaleX(1);
  opacity: 1;
}

.open.small {
  width: 5vw;
  min-width: 250px;
}

li {
  padding: 1em;
  text-align: center;
  list-style: none;
}

nav {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

img {
  width: 100%;
  max-width: 250px;
}
