section {
  height: 100%;
  overflow: hidden;

  & img {
    width: 100vw;
    max-width: 980px;
    transition: 0.2s all ease-in-out;
  }
}

.carousel {
  display: flex;
  overflow: auto hidden;
  height: 90vh;
  width: inherit;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  width: 100vw;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  text-align: center;
}

.adapt img {
  max-width: 100%;
  height: 100%;
  width: auto;
}
