@import 'variables.css';

footer {
  align-items: stretch;
  background: var(--grey-dark);
  bottom: 0;
  position: absolute;
  width: 100vw;
  z-index: 1000;
  transition: .3s all ease-in-out;
  height: 1vh;

  &:before {
    background: var(--grey-dark);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: var(--light);
    cursor: pointer;
    content: '\25b4';
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 800;
    left: 50%;
    padding: 0 0.5rem 0.2rem;
    position: absolute;
    top: -2rem;
    transform: translateX(-50%);
  }

  &:hover,
  &.active {
    height: 10vh;
  }
}

nav {
  display: flex;
  flex: 1;
  height: 100%;
  overflow-x: auto;
  position: relative;
  width: 100%;
}

li {
  flex: none;
  width: 100%;
  max-width: 66px;
  height: 100%;
  list-style: none;
}

a {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
  margin: 10% 0;
  display: block;
  opacity: 0.4;
  filter: sepia(1);
  transition: 0.2s all ease-in-out;
  position: relative;

  &:hover,
  &.active {
    opacity: 1;
    filter: none;
  }
}

span {
  color: white;
  position: absolute;
  padding: 5px;
  background-color: rgba(0,0,0,.7);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  pointer-events: none;
}
